.fullscreen-bg {
  overflow: hidden;
  background:#393E46;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff; /* Text color */
}

.mainContent {
  z-index: 1; /* Ensure content is above the background */
}
